<h1>Two way binding example 1</h1>
<h2>Counter</h2>

<button (click)="increment()">Increment</button>
<button (click)="decrement()">Decrement</button>

<br>
<br>
Count: {{ counter }}

<br>
<br>
<h2>Two-way binding example 2</h2>
<br>
<input type="input" [(ngModel)]="name" />
<br>
<br>
<br>
<h2>Welcome, {{name}}!</h2>
<br>
<br>
<h3>the number below changes due to angular auto change detection: </h3>
<p> {{num}} </p>
<input type="button" value="refresh the number above!!!" (click)="refresh()" />


