<div class="card card-primary">
    <div class="card-header">
        <h3>My favorite books</h3>
    </div>

    <div class="card-body">
        <table class="table table-borderless" [hidden]="booksService.hideDetails" #table>
            <tr>
                <th>Book title</th>
                <td>12 Rules for Life</td>
            </tr>
            <tr>
                <th>Book author</th>
                <td>Jordan Peterson</td>
            </tr>
        </table>
    </div>

    <div class="card-footer">
        <button class="btn btn-info">Start reading</button>
        <ng-content></ng-content>
    </div>
</div>
