<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">In</a>
  
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item"><a href="/counter" class="nav-link" routerLink="counter">Counter</a></li>
        <li class="nav-item"><a href="/sizer" class="nav-link" routerLink="sizer">Sizer</a></li>
        <li class="nav-item"><a href="/eCommerce" class="nav-link" routerLink="eCommerce">Ecommerce</a></li>
        <li class="nav-item"><a href="/decision-evaluate" class="nav-link" routerLink="decision-evaluate">Decision-evaluate</a></li>
        <li class="nav-item"><a href="/timer" class="nav-link" routerLink="timer">Count-down-timer</a></li>
      </ul>
    </nav>

    <h1>Practice advanced concepts in Angular</h1>
  
    <div class="container"><router-outlet></router-outlet></div>
  </div>