<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">In</a>
  
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item"><a href="/counter" class="nav-link" routerLink="counter">Counter</a></li>
        <li class="nav-item"><a href="/sizer" class="nav-link" routerLink="sizer">Sizer</a></li>
        <li class="nav-item"><a href="/eCommerce" class="nav-link" routerLink="eCommerce">Ecommerce</a></li>
        <li class="nav-item"><a href="/decision-evaluate" class="nav-link" routerLink="decision-evaluate">Decision-evaluate</a></li>
        <li class="nav-item"><a href="/timer" class="nav-link" routerLink="timer">Count-down-timer</a></li>
        <li class="nav-item"><a href="/timer-view-child" class="nav-link" routerLink="timer-view-child">Timer-viewChild</a></li>
        <li class="nav-item"><a href="/tasks" class="nav-link" routerLink="tasks">Tasks-viewChildren</a></li>
        <li class="nav-item"><a href="/book-club" class="nav-link" routerLink="reader-books">Book club</a></li>
        <li class="nav-item"><a href="/message" class="nav-link" routerLink="message-receiver">message service</a></li>
        <li class="nav-item"><a href="/message" class="nav-link" routerLink="garbage-collector">garbage collector</a></li>
        <li class="nav-item"><a href="/dom-manipulator" class="nav-link" routerLink="dom-manipulator">Element Ref</a></li>
        <li class="nav-item"><a href="/all-lifecycle-hooks" class="nav-link" routerLink="all-lifecycle-hooks">all-lifecycle-hooks</a></li>
      </ul>

      <div class="dropdown">
        <button class="dropbtn">Lifecycle hooks
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">All Hooks Methods</a>
        </div>
      </div>
    </nav>

    <h1>Practice advanced concepts in Angular</h1>
  
    <div class="container"><router-outlet></router-outlet></div>
  </div>